*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
}
.navbar-nav{
	height: 40px;
	color: black;
}
.nav-link:hover{
	border-bottom: 3px solid #356ce0;
}
.nav-link{
	display: inline-block;
	font-weight: bold;
	color: black;
}
h1{
	background: linear-gradient(81.84deg, #0099ff -9.4%, #a033ff 51.57%, #ff5280 84.07%, #ff7061 90.59%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	display: inline-block;
  font-weight: 550;
  text-align: left;
  word-break: break-word;
	font-size: 85px;
  letter-spacing: -3px;
  line-height: 90px;
	padding: 10px 0 10px 0;
  margin-bottom: 0;
}
.caption{
	width: fit-content;
}
.text{
	font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 16px;
  font-weight: 400;
	word-break: keep-all;
}
.form-control{
	background: #dfdede;
}
.btn{
	width: 30%;
	border-radius: 20px;
	margin-right: 20px;
}
.col a, .form-check-label, footer, .navbar-footer{
	font-size: 14px;
}
footer{
	padding: 26px;
}
@media screen and (max-width: 600px){
	.hide{
		display: none;
	}
	h1{
		font-size: 55px;
		text-align: center;
	}
	.mobile-trigger{
		width: 100%;
	}
}  
